.background {
    background-image: url(C:\Users\GUERRAGGA\Documents\GitHub\Projeto-Saude\front\src\assets\img\Background__Quiz.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}



.divImagemQuiz {
    display: block;
}
.divButtonQuiz{
    
}
.buttonQuiz{
    width: 100%;
    background-color: #0DB3E3;
}

.buttonQuiz:hover{
    background-color: #0b95bd;
    text-decoration: none;
}

.buttonQuiz a{
    color: white;
}