body {
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

.lp-inicio {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.lp-sc-primario__conteudo {
    color: var(--branco);
    margin: 0 6em;
}

.lp-sc-primario {
    background-image: url('./assets/Background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.lp-sc-primario__titulo {
    color: var(--branco);
}

.lp-sc-primario__botao {
    margin-bottom: 1em;
    color: var(--branco);
    background-color: var(--verde-claro);
    border-radius: 8px;
    padding: 1em;
    display: block;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-weight: 700;
    box-shadow: 3px 3px 10px rgba(0, 0, 2, 0.295);
    transition: 0.5s;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco);
}

.lp-sc-primario__botao:hover {
    transform: scale(1.1);
    color: var(--verde-claro);
    background-color: var(--branco);
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}

.nossos-precos__seta {
    margin: 0 500px 0 0;
}

.lp-corpo {
    margin: 0 0 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container_titulo {
    text-align: center;
    padding: 44px;
    margin-top: 11vw;
}

.lp-corpo_centro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.lp-card {
    width: 300px;
    min-height: 350px;
    background-color: var(--azure);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
    grid-template-columns: 100px 100px 100px 100px;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 15px;
    transition: 0.5s;
}

.lp-card:hover {
    transform: scale(1.1);
}

.vantagens__corpo__centro {
    display: grid;
    gap: 20px;
    text-align: center;
}

.card__vantagens {
    margin: 20px;
    width: 850px;
    overflow: hidden;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 15px;
}

.card__vantagens_img {
    margin: 0 10px;
    float: left;
    max-width: 64px;
    max-height: 64px;
}

.lp-titulo-secundario-card {
    font-size: 1.2em;
}

.lp-sc-ajuda {
    padding: 0 250px;
    display: flex;
    flex-wrap: wrap;
}

.card__ajuda {
    flex-grow: 1;
    flex-basis: 200;
    width: 250px;
    height: 150px;
    background-color: var(--azure);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    overflow: hidden;
    grid-template-columns: 100px 100px 100px 100px;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 15px;
}

.lp-tabela {
    width: 50%;
    background-color: var(--verde-claro);
    border-radius: 8px;
    padding: 10px;
}

.lp-tabela-precos {
    background-color: aliceblue;
    padding: 8px;
    box-sizing: border-box;
}

.preco__plano {
    gap: 70px;
    display: flex;
    align-items: center;
    margin: 0em 1em 2em 0;
    font-size: 12px;
    word-spacing: x 90px;
    transition: 0.5s;
    justify-content: space-between;
}

.preco__plano:hover {
    transform: scale(1.1);
    background-color: var(--azure);
    padding: 10px;
    border-radius: 5px;
}

.garantia__texto {
    font-size: 1rem;
}

.rodape__lp {
    text-align: center;
    background-color: var(--verde-claro);
    color: var(--branco);
    margin: 20px 0 0 0;
}

.rodape__lp__texto {
    padding: 12px 0;
    text-align: center;
    margin: 10px 0 0 10px;
}

.rodape__lista {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 1em 0;
    gap: 40px;
}

.buy-button__preco {
    margin: 10px 0 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    background-color: var(--branco);
    color: var(--verde-claro);
    transition: 0.5s;
}

.buy-button__preco:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    background-color: var(--branco);
    color: var(--verde-claro);
}

.footer-button {
    font-size: 14px;
    margin: 1em 0;
    background-color: var(--branco);
    color: var(--verde-claro);
}

@media (max-width: 1200px) {


    .lp-sc-primario__titulo,
    .lp-sc-primario__texto{
        color: black;
        margin: 1em 0 1em 0;
    }

    .botao_secundario {
        border: none;
        background-color: var(--verde-claro);
    }

    .landingPage {
        display: flex;
        flex-direction: column;
    }

    .lp-inicio {
        display: block;
        background-image: none;
        width: 50%;
    }

    .lp-sc-primario {
        width: 100%;
    }

    .container_titulo {
        width: 100%;
    }

    .vantagens__corpo__centro {
        display: block;
        width: 100%;
        font-size: 1em;
    }

    .card__vantagens {
        width: 100%;
    }

    .lp-sc-ajuda {
        display: block;
        width: 100%;
        font-size: 1em;
        padding: 0;
    }

    .lp-tabela {
        padding: 1em;
        width: 100%;
    }

    .card__vantagens_img {
        float: none;
    }

    .card__ajuda-img {
        float: none;
    }

    .garantia__img {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .rodape__lista {
        display: flex;
        flex-direction: column;
        margin: 0.5em 1em;
    }

    .nossos-precos__seta {
        margin: 0;
    }

    .vantagens__corpo {
        display: none;
    }

    .lp-card,
    .card__ajuda{
        width: 90%;
        left: 10px;
    }

    .lp-card:hover {
        transform: none;
    }

}