

*{
    margin: 0;
    padding: 0;
}


.startContainer {
    background-color: var(--azul-escuro);
}

.navbar  {
    background: #1E50D2;
    color: #fff;
    border-bottom: 1px solid #466EE6;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem;
}

nav {
    background: var(--azul-escuro);
    padding: 5px 1rem;
}

.botao_navbar  {
    margin: 0 1em 1em 0;
    color: var(--branco);
    background-color: var(--verde-claro);
    border-radius: 8px;
    padding: 1em;
    font-weight: 700;
}

.botao_navbar:hover {
    background-color: var(--azure);
    color: var(--verde-claro);
    box-shadow: 2px 2px 0 0;
}

.principal {
    background-image: url('./Background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.containers  {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.containers__conteudo {
    color: var(--branco);
    margin: 0 6em;
}

.containers__texto {
    margin: 2em 0;
}

.containers__botao  {
    text-decoration: none;
    margin-bottom: 1em;
    color: var(--branco);
    background-color: var(--verde-claro);
    border-radius: 8px;
    padding: 1em;
    display: block;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.botao_secundario  {
    background-color: transparent;
    border: 2px solid var(--branco);
}

.containers__botao:hover  {
    color: var(--verde-claro);
    background-color: var(--branco);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

*,
::after,
::before {
    box-sizing: border-box;
}


body {
    font-family: var(--fonte-principal);
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .startContainer {
        display: block;
    }
    
}

/*
@media (min-width: 768px) {

}


porque estao nos escolhendo*/ 


.secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10em;
}

.containers__card {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(33.33% - 20px);
    border-radius: 10px;
    background-color: var(--azure);
}

.terciario{
    text-align: center;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}


@media screen and (max-width: 768px){
    .containers{
        display: block;
        background-image: none;
    }

    .containers__conteudo {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

}
@media screen and (max-width: 1070px){
    .containers{
        display: block;
        background-image: none;
    }

    .containers__conteudo {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

}