/* Estilos específicos para o componente de cadastro */

.classeMae {
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__botaoVoltar span {
    color: #007BFF;
    cursor: pointer;
}

.container__botaoVoltar span:hover {
    text-decoration: underline;
}

#titulo-form {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#form-adiciona {
    width: 100%;
}

#formulario-container {
    max-width: 600px;
}

/* Estilos para os campos de entrada */
.grupo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.campo {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.campo-medio {
    width: 100%;
    padding: 1em;
}

/* Estilos para os botões */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilos para os botões Voltar e Cadastro */
.botoes button {
    width: auto;
    padding: 10px;
    background-color: var(--verde-claro);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botoes button:hover {
    background-color: var(--azul);
}

.botoes button:active {
    background-color: var(--azul-claro);
}