body {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.classeMae{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 360px;
    height: 420px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
    text-align: center;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(50px);
}
input {
    width: 60%;
    height: 34px;    
    padding-left: 5px;
    box-sizing: border-box;
}
.botoes{
    display: flex;
    grid-gap: 5px 8px;
}
label {
    display: block;
    color: white;
  }
#titulo-form{
    color: #00a7cc;
}