*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner-bioetica{
    background-position-y: top;
    background-image: url('./assets/verde-mobile.png') ;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    /* Esta configuração distorcerá a imagem para preencher a tela */
    background-position: top;
    /* Centraliza a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    color: white;
}

.banner-bioetica a{
    position: absolute;
    top: 40px;
    left: 75px;
    text-decoration: none;
    color: white;
}

.banner-bioetica a:hover{
    border-radius: 10px;
    text-decoration-line: underline;
}

.seta{
    position: absolute;
    transform: scale(0.07) translateY(-3450px);
    left: -400px;
    color: aliceblue;
}

.main-content{
    position: absolute;
    width: 50%;
    left: 50px;
    top: 250px;
}

.banner-bioetica img{
    background-size: cover;
    margin-right: 8em;
    border-radius: 10px;
    position: absolute;
    right: -50px;
    top: 150px;
    max-width: 40%;
    max-height: 350px;
    height: 368px;
    width: 552px;
}

.just__space{
    height: 100%;
    width: 200%;
}

.conteudo-bioetica{
    display: flex;
    flex-direction: row;
}

.conteudo p{
    margin-top: 20px;
    width: 100%;
}

.social-media{
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50PX;
    display: flex;
    justify-content: space-between;
}

.social-media a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    width: 85px;
    background-color: #038983;
    border-radius: 50%;
    transition: 0.5s;
}

.social-media a:hover{
    transform: scale(1.1);
    background-color: #05b0a8;
}

.social-media img{
    height: 40px;
}

.just__space2{
    height: 100%;
    width: 400%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.side__box{
    background-color: #038983;
    border-radius: 10px;
    color: white;
    padding: 25px;
    margin: 10px;
    margin-left: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
}

.side__box h3{
    margin-bottom: 20px;
}

.side__box p{
    font-size: 14px;
}

.side__box button{
    width: 100%;
    margin-top: 20px;
    color: black;
    background-color: white;
}