.subtitulo-conteudo-principal {
    font-size: 1.5em;
    color: var(--branco);
}

.conteudo-titulo-principal {
    font-size: 3em;
    color: var(--branco);
    font-weight: 700;
}

.paragrafo-conteudo-texto-principal {
    font-size: 1em;
    color: var(--branco);
}

.conteudo-titulo-section,
.conteudo-paragrafo-section {
    color: black;
}

.conteudo-subtitulo-section {
    color: var(--verde-claro);
}

.container-conteudo {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.primeiro-conteudo {
    background-position-y: top;
    background-image: url('../assets/verde-mobile.png') ;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    /* Esta configuração distorcerá a imagem para preencher a tela */
    background-position: center;
    /* Centraliza a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2em 0;
    padding: 0;
    border: 0;
}

.conteudo-conteiner__recomendacoes {
    margin: 0 6em;
}

.imagem-conteiner__recomendacoes{
    margin-right: 8em;
    border-radius: 10px;
}

.banner__cancer-prevencao {
    display: flex;
    justify-content: center;
}

.banner__cancer-prevencao {
    margin: 0 10em;
}

.container__cancer {
    width: 70%;
    height: 400px;
    border-radius: 10px;
    background-image: url(../assets/banner_prevencao-ao-cancer.jpg);
    background-repeat: no-repeat;
    margin: 40px 0;
}

.cancer-prevencao {
    margin: 5em 6em;
}

.botao__cancer-prevencao {
    width: 10em;
    padding: 10px;
}

.segundo-conteudo {
    height: auto;
    background-color: #edebeb;
    align-items: center;
}

.terceiro-conteudo{
    height: auto;
    align-items: center;
}

.segundo-conteudo__texto{
    margin: 4em 7em;
    padding: 30px;
}
.conteudo-imagem {
    margin: 4em 7em;
    border-radius: 10px;
}

@media screen and (max-width:850px) {
    .containerRecomendacoes {
        background-image: url('../assets/verde-mobile.png');
    }

    .container-conteudo {
        display: block;
    }
}