
@media screen and (max-width:850px) {
.containerRecomendacoes{
    background-image: url('../assets/verde-mobile.png');
}    
}

.containerRecomendacoes {
    background-image: url('../assets/verde-mobile.png');
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Esta configuração distorcerá a imagem para preencher a tela */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
  }

.banner{
    
    position: relative;
    display: block;
    width: 100%;
    padding: 40px 0;
}
.content{
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    border-radius: 16px;
    padding: 60px 0;
    top: 50%;
    transform: translateY(-50%);
}
  