.listaEstados {
    list-style: none;
    display: inline-block;
    padding: 0;
    
  }
  
  .listaEstados li {
    display: inline-block;
    margin-right: 1px; /* Espaçamento entre os botões */
    background-color:brown
  }
  
  .listaEstados button {
    margin: 0;
    padding: 8px 16px;
  }
  