/* {
  padding: 0;
  margin: 0;
} */

/* .container{
  width: 100%;
  height: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
}  */
.container{
  width: 100%;
  height: 100vw;
  background-size: cover; 
  display: flex;
  background-image: url('../../assets/img/clinica-odontologica-1.jpg');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.login{
    width: 100%;
    max-width: 400px;
    height: 550px;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff10;
    border: 2px solid #ffffff30;
    backdrop-filter: blur(50px);
   
  }
  input{
    border-radius: 5px;
    border: 2px solid salmon;
    margin: 10px 0;
  } 
  input[type="submit"]{
    background-image: linear-gradient(45deg, #f37335, #fdc830);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 14vw;
  }
  .user-login__title {
    font-size: 40px;
    color: #00a7cc;
    margin-bottom: 50px;
    text-align: center;
    margin: 5px;
  }
    .user-login__form-control label {
    margin-bottom: 5px;
    color: rgb(0, 255, 115);
    font-size: 16px;
  }
    .user-login__form-control input {
    border-radius: 4px;
    border: 1px solid #bbbbbb7a;
    height: 36px;
    padding: 5px 10px;
  }
    .Divimagem{
    text-align: center;
  } 
  
  
  
  .user-login__submit-button {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .Imagemdentista{
    width: 8vw;
    height: 10vw;
  }
