@import url("../../variables.css");

/* body {
  font-family: Arial, sans-serif;
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container {
  max-width: 400px;
  display: flex;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.Divimagem {
  width: 100;
  display: flex;
  justify-content: center;
  margin: 1em;
}

.logo {
  width: 20%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  /* color: #333; */
  color: var(--azul);
}

.user-login__form-control {
  margin-bottom: 20px;
}

.user-login__form-control label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.user-login__form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.user-login__submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 2em;
  background-color: var(--verde-claro); /* Utilizando a variável definida */
  color: #fff;
  display: flex;
  justify-content: center;
  height: 20%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.user-login__submit-button:hover {
  background-color: var(--azul); /* Utilizando a variável definida */
}

.user-login__submit-button:active {
  background-color: var(--azul-claro); /* Utilizando a variável definida */
}

.user-login__error {
  text-align: center;
  color: red;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}