@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url("../src/pages/Start/style.css");

:root {
    --branco: #FFFFFF;
    --azure: rgb(240, 255, 255);
    --verde-claro: rgb(60, 199, 152);
    --azul: #466EE6;
    --azul-claro: rgb(154, 181,240);
    --azul-escuro: #1E50D2;

    --fonte-principal: 'Poppins', sans-serif;;
}
