.container__titulo {
  text-align: center;
  font-size: 3.1vw;
  /* color: rgb(255, 94, 0); */
  color: rgb(60, 199, 152);
  font-weight: bold;
  padding-top: 1em;
}

.container__primario {
  background-color: rgb(240, 255, 255);
  padding: 2em;
  display: flex;
  width: 100%;
}

.blocoDireitoPrincipal {
  display: table;
  margin-top: -10vw;
  margin-left: 17vw;
}

.link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.90rem;
  color: blue;

}

.container__caixa {
  display: grid;
  grid-template-columns: 30% 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container__caixa-icone {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container__caixa-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconeSite {
  width: 100%;
}

.perguntaIntrodutoria {
  text-align: center;
}

.container__comentario {
  font-weight: 700;
  font-size: 1.2em;
  width: 100%;
  margin-top: 1em;
}

.bloco1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_secundario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  padding-bottom: 3em;
}

.perguntaIntrodutoria {
  /* color: rgb(255, 94, 0); */
  color: rgb(19, 104, 144);
  cursor: pointer;
  font-weight: bold;
}

.introducao {
  text-align: center;
  width: 40%;
  margin-top: 1em;
  align-items: center;
}

.blocosenta {
  display: inline;
  cursor: pointer;
}

.seta {
  width: 9vw;
  height: 7vw;
  border-radius: 3.3vw;
  margin-left: 12vw;
  margin-block: -2vw;
}

.intro2 {
  text-align: center;
  background-color: rgb(241, 97, 1);
  width: 20vw;
  height: 24vw;
  margin: auto;
  padding: 2vw;
  margin-block: 6vw;
}

.intro3 {
  text-align: center;
  background-color: rgb(199, 4, 238);
  width: 20vw;
  height: 24vw;
  margin: auto;
  padding: 2vw;
  margin-block: 6vw;
}

h4 {
  margin: auto;
}

.container__perguntas {
  width: 100%;
  height: auto;
  /* background-color: blue; */
}

.container__perguntas-caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10em 0 10em 0;
}

.container__perguntas-caixa img {
  width: 20%;
}

.container__perguntas-caixa .perguntas-segunda__imagem {
  margin-right: 2em;
}

.container__perguntas-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.container__resposta {
  margin-top: 1em;
}

.resposta__texto {
  width: 100%;
}

.subtitulo-verde {
  color: rgb(60, 199, 152);
  margin: 2em;
}

.texto-centralizado {
  text-align: center;
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {}